* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: #242633;
}

img {
    width: 200px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}