* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #242633 ;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}